In [1]:
# feature_{0...129} - represents real stock data. 
# Each row represnts trading opportunity, for which you will be predicting an action value: 1 to make the trade and 0 to pass on it. 
# Weight and resp - represents a return on the trade. 
# date - day of the trade
# ts_id = time ordering
# 

# resp_{1,2,3,4} - returns over different time horizons. 
#

In [2]:
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

feature_data = pd.read_csv('./features.csv')
feature_data.head()

,feature,tag_0,tag_1,tag_2,tag_3,tag_4,tag_5,tag_6,tag_7,tag_8,...,tag_19,tag_20,tag_21,tag_22,tag_23,tag_24,tag_25,tag_26,tag_27,tag_28
0,feature_0,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,feature_1,False,False,False,False,False,False,True,True,False,...,False,False,False,False,False,False,False,False,False,False
2,feature_2,False,False,False,False,False,False,True,True,False,...,False,False,False,False,False,False,False,False,False,False
3,feature_3,False,False,False,False,False,False,True,False,True,...,False,False,False,False,False,False,False,False,False,False
4,feature_4,False,False,False,False,False,False,True,False,True,...,False,False,False,False,False,False,False,False,False,False

In [3]:
import pandas as pd

data_train_original = pd.read_csv('./train.csv')
data_train_sliced = data_train_original.head(2000)
data_train_sliced

,date,weight,resp_1,resp_2,resp_3,resp_4,resp,feature_0,feature_1,feature_2,...,feature_121,feature_122,feature_123,feature_124,feature_125,feature_126,feature_127,feature_128,feature_129,ts_id
0,0,0.000000,0.009916,0.014079,0.008773,0.001390,0.006270,1,-1.872746,-2.191242,...,NaN,1.168391,8.313583,1.782433,14.018213,2.653056,12.600292,2.301488,11.445807,0
1,0,16.673515,-0.002828,-0.003226,-0.007319,-0.011114,-0.009792,-1,-1.349537,-1.704709,...,NaN,-1.178850,1.777472,-0.915458,2.831612,-1.417010,2.297459,-1.304614,1.898684,1
2,0,0.000000,0.025134,0.027607,0.033406,0.034380,0.023970,-1,0.812780,-0.256156,...,NaN,6.115747,9.667908,5.542871,11.671595,7.281757,10.060014,6.638248,9.427299,2
3,0,0.000000,-0.004730,-0.003273,-0.000461,-0.000476,-0.003200,-1,1.174378,0.344640,...,NaN,2.838853,0.499251,3.033732,1.513488,4.397532,1.266037,3.856384,1.013469,3
4,0,0.138531,0.001252,0.002165,-0.001215,-0.006219,-0.002604,1,-3.172026,-3.093182,...,NaN,0.344850,4.101145,0.614252,6.623456,0.800129,5.233243,0.362636,3.926633,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,0,0.159456,-0.002376,-0.003398,-0.002357,0.002967,0.001521,1,0.573405,-0.578858,...,-0.390252,0.764492,-0.854653,0.888190,-0.475368,1.525227,-0.130356,0.840384,-0.836186,1995
1996,0,1.868680,0.004500,-0.002952,-0.049531,-0.078449,-0.047992,-1,9.340280,5.759371,...,-0.578834,4.230244,0.443653,3.508122,0.286397,5.767925,0.843849,5.372362,0.837738,1996
1997,0,0.129187,-0.000539,-0.002657,0.001219,0.002807,0.001844,-1,1.531066,-0.084134,...,-1.572719,-0.087764,-1.453338,-0.120742,-2.288934,-0.266508,-1.774202,-0.187749,-1.504201,1997
1998,0,0.700217,-0.005270,-0.005802,-0.013136,-0.021546,-0.011060,-1,1.061800,-0.735756,...,-0.154319,0.094793,-3.158170,2.607112,-0.878274,3.455051,-0.830843,1.853195,-1.675031,1998
1999,0,0.041898,-0.006819,-0.004347,-0.019041,-0.048883,-0.038609,1,-3.172026,-3.093182,...,-0.957280,3.249073,-1.264852,4.257513,-0.259735,5.152633,-0.618693,3.506020,-1.300793,1999

In [4]:
data_train_sliced.to_csv('train_sliced.csv',index=False)

In [1]:
import pandas as pd
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

data_train = pd.read_csv('./train_sliced.csv')

In [2]:
# Do feature engineering
# 1. Check the feature correlations. 
# 2. 
data_train['action'] = ((data_train['weight'].values * data_train['resp'].values) > 0).astype('int')
data_train.to_csv('test.csv')

In [3]:
X = data_train.loc[:,data_train.columns.str.contains('feature')]
Y = data_train.loc[:,'action']

In [4]:
pip install scikit-learn scipy matplotlib

Requirement already satisfied: scikit-learn in /home/shelfie/.local/lib/python3.8/site-packages (0.23.2)
Requirement already satisfied: scipy in /home/shelfie/.local/lib/python3.8/site-packages (1.4.1)
Requirement already satisfied: matplotlib in /home/shelfie/.local/lib/python3.8/site-packages (3.2.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/shelfie/.local/lib/python3.8/site-packages (from scikit-learn) (2.1.0)
Requirement already satisfied: numpy>=1.13.3 in /home/shelfie/.local/lib/python3.8/site-packages (from scikit-learn) (1.18.5)
Requirement already satisfied: joblib>=0.11 in /home/shelfie/.local/lib/python3.8/site-packages (from scikit-learn) (0.17.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/lib/python3/dist-packages (from matplotlib) (2.7.3)
Requirement already satisfied: cycler>=0.10 in /home/shelfie/.local/lib/python3.8/site-packages (from matplotlib) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/shelfie/.local/lib/python3.8/site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /home/shelfie/.local/lib/python3.8/site-packages (from matplotlib) (2.4.7)
Requirement already satisfied: six in /usr/lib/python3/dist-packages (from cycler>=0.10->matplotlib) (1.14.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
#split data into train and test dataset

seed = 7
test_size = 0.33
X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size=test_size, random_state=seed)

In [6]:
# fit model to training data
model = XGBClassifier()
model.fit(X_train, y_train)

print(model)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=0, num_parallel_tree=1, random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [7]:
y_pred = model.predict(X_test)
predictions = [round(value) for value in y_pred]

In [8]:
accuracy = accuracy_score(y_test, predictions)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 63.48%